$minWidth: 320px;
$maxWidth: 1152px;
$minWidthContainer:856px;
$md1: $minWidthContainer + 12px;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$font-stack:    "Helvetica, sans-serif";

//Fonts
//&display=swap&subset=cyrillic-ext